<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drbit.shardingsphere.mapper.UserMapper">

    <!--批量保存或更新数据-->
    <insert id="insertOne" parameterType="com.drbit.shardingsphere.domain.UserPO">
        INSERT INTO user(user_id,user_name,age) values (#{user.userId},#{user.userName},#{user.age})
    </insert>

    <select id="selectById" resultType="com.drbit.shardingsphere.domain.UserPO">
        select * from user where id = #{id}
    </select>

</mapper>
